<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header"><center>All TRANSACTIONS</center></div>


                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th >#</th>
                                <th >Customer ID</th>
                                <th >Amount</th>
                                <th >Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="transaction in transactions">
                                <th>{{ transaction.id }}</th>
                                <td >{{ transaction.customer_id}}</td>
                                <td >{{ transaction.amount}}</td>
                                <td >{{ transaction.created_at}}</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['transactions']
    }
</script>
